<html>
<head>
    <title>{{processtext}}</title>
     <link rel="stylesheet" href="/css/ObrStyle.css">
</head>
<body>
    {{>header}}
    <img style="height:100px;width:100px;margin:5px"src="/images/cat.png"><p>Страница не найдена. Проверьте адрес.</p>
    {{>footer}}
</body>
</html>