<html>
<head>
    <title>Проверка ФТС</title>
     <link rel="stylesheet" href="/css/ObrStyle.css">
</head>
<body>
    {{>header}}
    <p>Проверка по {{ inn }}</p>
    <p>{{ error }}</p>
    <p>Списки: {{ response }}</p>
    {{>footer}}
</body>
</html>